<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/CSS/css.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Movies</title>
</head>
<body>
	<div class="container movie-container">
		<h1>The KONAHA Movie List</h1>
		<div class="movieTable">
			<table border="1">
				<tr>
					<th>MOVIE_ID</th>
					<th>TITLE</th>
					<th>MOVIE_DURATION</th>
					<th>LANGUAGE</th>
					<th>SHOW_TIME</th>
					<th>SEATS_AVAILABLE</th>
				</tr>

				<tr th:each="movie : ${movies}">
					<td th:text="${movie.movieId}"></td>
					<td th:text="${movie.title}"></td>
					<td th:text="${movie.movieDuration}"></td>
					<td th:text="${movie.language}"></td>
					<td th:text="${movie.showTime}"></td>
					<td th:text="${movie.seatsAvailable}"></td>
					<td><div class="modifyMovie">
							<a th:href="@{/editMovie/{id}(id=${movie.movieId})}">MODIFY</a>
						</div></td>
					<td><div class="deleteMovie">
							<a th:href="@{/deleteMovie/{id}(id=${movie.movieId})}">DELETE
							</a>
						</div></td>
				</tr>
			</table>
		</div>
		<br />
		<div class="addMovie">
			<a th:href="@{/addMovie}"> Add Movie</a>
		</div>
		<br>
		<div class="viewUser">
			<a th:href="@{/viewUser}">View User</a> <a th:href="@{/logout}">Logout</a>
		</div>
	</div>
</body>
</html>