<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/CSS/css.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<div class="container">
		<h1>WELCOME TO KOHONA - The Leaf Village CINEMA!!</h1>
		<br>
		<h2>Please log in to your account.</h2>

		<form action="" th:action="@{/displayMovies}" th:object="${movie}"
			method="post">
			<div th:if="${param.error}">
				<p>Invalid user name or password.</p>
			</div>
			<div th:if="${message}">
				<p th:text="${message}"></p>
			</div>
			<div th:if="${param.logout}">
				<p>You have been logged out.</p>
			</div>
			<div>
				<label for="username">Username </label> <input type="text"
					id="username" name="username" required><br>
			</div>
			<div>
				<br> Password <input type="text" name="password" required><br>
				<div class="submit">
					<br> <input type="submit" value="log In"><br>
				</div>
			</div>
		</form>
	<div>
	<p>
		Not Register?<a th:href="@{/createAccount}">Create Account</a>
	</p>
	<a th:href="@{/viewMovie}">Skip Sign In</a>
	</div>
	</div>
</body>
</html>